<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="utf-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="description" content="Log your rig checks online.">
   <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
   <link rel="stylesheet"
         href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en">
   <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
   <link rel="stylesheet" href="https://code.getmdl.io/1.2.1/material.cyan-light_blue.min.css">
   <link rel="stylesheet" href="/css/styles.css">

   <script src="/vendor/jquery-2.2.3.min.js"></script>
   <script src="/vendor/jquery.form.min.js"></script>
   <script src="/js/views/checklists.js"></script>
   <script src="/js/controllers/checklistController.js"></script>

   <style>

      .table {
         display: table;
         margin-right: auto;
         margin-left: auto;
         width: 100%;
      }

      .table td {
         align: center;
         text-align: justify;
         margin: auto;
         margin-right: auto;
         margin-left: auto;
      }

   </style>

</head>

<body>
<div class="main-layout mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">
   <header class="main-header mdl-layout__header mdl-color--grey-100 mdl-color-text--grey-600">
      <div class="mdl-layout__header-row">
         <span class="mdl-layout-title">{{title}}</span>
         <div class="mdl-layout-spacer"></div>

      </div>
   </header>

   <div class="main-drawer mdl-layout__drawer mdl-color--blue-grey-900 mdl-color-text--blue-grey-50">
      <header class="main-drawer-header"><img src="images/user.jpg" class="user-avatar">
         <div class="user-avatar-dropdown"><span>{{user.first}} {{user.last}}
            (<strong>{{user.role}}</strong>)<br>{{user.email}}</span>
            <div class="mdl-layout-spacer"></div>
         </div>
      </header>
      <nav class="main-navigation mdl-navigation mdl-color--blue-grey-800">
         <a href="/home" class="mdl-navigation__link" id="home-nav">
            <i role="presentation" class="mdl-color-text--blue-grey-400 material-icons">home</i>Home</a>
         <a href="/rigchecks" class="mdl-navigation__link" id="rigcheck-nav">
            <i role="presentation" class="mdl-color-text--blue-grey-400 material-icons">assignment_turned_in</i>Rig
            Check</a>
         {{#if user.isSupervisor}}
            <!-- the supervisor is able to add and remove people and -->
            <a href="/checklists" class="mdl-navigation__link" id="checklist-nav">
               <i role="presentation" class="mdl-color-text--blue-grey-400 material-icons">assignment</i>Checklists</a>
            <a href="/squad" class="mdl-navigation__link" id="squad-nav">
               <i role="presentation" class="mdl-color-text--blue-grey-400 material-icons">people</i>Squad</a>
         {{/if}}
         {{#if user.isChief}}
            <!-- only the chief is able to add ambulances -->
            <a href="/checklists" class="mdl-navigation__link" id="checklist-nav">
               <i role="presentation" class="mdl-color-text--blue-grey-400 material-icons">assignment</i>Checklists</a>
            <a href="/ambulances" class="mdl-navigation__link" id="ambulance-nav">
               <i role="presentation" class="mdl-color-text--blue-grey-400 material-icons">local_shipping</i>Ambulances</a>
            <a href="/squad" class="mdl-navigation__link" id="squad-nav">
               <i role="presentation" class="mdl-color-text--blue-grey-400 material-icons">people</i>Squad</a>
         {{/if}}
         <a href="/profile" class="mdl-navigation__link" id="profile-nav">
            <i role="presentation" class="mdl-color-text--blue-grey-400 material-icons">account_circle</i>Profile</a>
         <div class="mdl-layout-spacer"></div>
         <a href="/help" class="mdl-navigation__link" id="help-nav">
            <i role="presentation" class="mdl-color-text--blue-grey-400 material-icons">help_outline</i><span
                 class="visuallyhidden">Help</span></a>
      </nav>

   </div>
   <div class="mdl-tooltip mdl-tooltip--right" data-mdl-for="home-nav">See the dashboard</div>
   <div class="mdl-tooltip mdl-tooltip--right" data-mdl-for="rigcheck-nav">Make a rig check</div>
   <div class="mdl-tooltip mdl-tooltip--right" data-mdl-for="checklist-nav">Add or Edit a rig check checklist</div>
   <div class="mdl-tooltip mdl-tooltip--right" data-mdl-for="ambulance-nav">Add or Edit Ambulances</div>
   <div class="mdl-tooltip mdl-tooltip--right" data-mdl-for="squad-nav">Add, Remove, or Edit the squad and it's
      members
   </div>
   <div class="mdl-tooltip mdl-tooltip--right" data-mdl-for="profile-nav">Edit your profile</div>
   <div class="mdl-tooltip mdl-tooltip--right" data-mdl-for="help-nav">It's okay to be confused</div>

   <main class="mdl-layout__content mdl-color--grey-100">
      <div class="mdl-grid main-content">
         <!-- TODO this is the main content -->

         <!--
         {{#each this.checklists}}
            <div id="checklist-{{this.id}}"
                 class="checklist-card mdl-shadow--2dp mdl-color--white mdl-cell mdl-card mdl-cell--12-col">

               <div class="mdl-card__title mdl-card--expand mdl-color--blue-300">
                  <h3>Checklist: {{this.title}}</h3>
               </div>

               <div class="mdl-card__supporting-text mdl-color-text--grey-600 mdl-card--border ">
                  <h2>Ambulance: {{Ambulance.truckNumber}}</h2>

                  {{#each this.Compartments}}
                     <h5>Compartment: {{this.name}} </h5>

                     <table class="table mdl-data-table mdl-js-data-table mdl-shadow--2dp">

                        <thead>
                        <tr>
                           <th class="mdl-data-table__cell--non-numeric">Item Name</th>
                           <th class="mdl-data-table__cell--non-numeric">Field Type</th>
                           <th class="mdl-data-table__cell--non-numeric">Action</th>
                        </tr>
                        </thead>

                        <tfoot>
                        <tr>
                           <td class="mdl-data-table__cell--non-numeric"></td>
                           <td class="mdl-data-table__cell--non-numeric"></td>
                           <td class="mdl-data-table__cell--non-numeric">
                              <button id="add-field-btn" value="{{../id}},{{this.id}}"
                                      class="right mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon"
                                      onclick='createField(this)'>
                                 <i class="material-icons">add_box</i>
                              </button>
                              <button id="delete-compartment-btn" value="{{../id}},{{this.id}}"
                                      class="right mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon"
                                      onclick='deleteCompartment(this)'>
                                 <i class="material-icons">delete</i>
                              </button>
                           </td>
                        </tr>
                        </tfoot>

                        <tbody>
                        {{#each this.Fields}}
                           <tr>
                              <td class="mdl-data-table__cell--non-numeric">{{this.name}}</td>
                              <td class="mdl-data-table__cell--non-numeric">checkable</td>
                              <td class="mdl-data-table__cell--non-numeric">
                                 <button id="delete-field-btn" value="{{../../id}},{{../id}},{{this.id}}"
                                         class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon"
                                         onclick='deleteField(this)'>
                                    <i class="material-icons">delete</i>
                                 </button>
                              </td>
                           </tr>
                        {{/each }}
                        </tbody>


                     </table>

                  {{/each}}
               </div>


               <div class="mdl-card__actions mdl-card--border ">

                  <button id="add-compartment-btn" value="{{this.id}}"
                          class="right mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon"
                          onclick='createCompartment(this)'>
                     <i class="material-icons">add_box</i>
                  </button>

                  <div class="mdl-tooltip" for="add-compartment-btn">
                     Add a compartment to the checklist
                  </div>

                  <button id="delete-btn" value="{{this.id}}"
                          class="right mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon"
                          onclick='deleteChecklist(this)'>
                     <i class="material-icons">delete</i>
                  </button>

                  <div class="mdl-tooltip" for="delete-btn">
                     Delete this checklist
                  </div>

               </div>


            </div>

         {{/each}}
         -->

         {{#each this.checklists}}
            <div id="checklist-{{this.id}}"
                 class="checklist-card mdl-shadow--2dp mdl-color--white mdl-cell mdl-card mdl-cell--12-col">

               <div class="mdl-card__title mdl-card--expand mdl-color--blue-300">
                  <h3>Checklist: {{this.title}}</h3>
               </div>

               <div class="mdl-card__supporting-text mdl-color-text--grey-600 mdl-card--border ">
                  <h4>Ambulance: {{Ambulance.truckNumber}}</h4>

                  {{#each this.Compartments}}
                     <h5>Compartment: {{this.name}} </h5>

                     <table class="table mdl-data-table mdl-js-data-table mdl-shadow--2dp">

                        <thead>
                        <tr>
                           <th class="mdl-data-table__cell--non-numeric">Item Name</th>
                           <th class="mdl-data-table__cell--non-numeric">Field Type</th>
                           <th class="mdl-data-table__cell--non-numeric">Action</th>
                        </tr>
                        </thead>

                        <tfoot>
                        <tr>
                           <td class="mdl-data-table__cell--non-numeric"></td>
                           <td class="mdl-data-table__cell--non-numeric"></td>
                           <td class="mdl-data-table__cell--non-numeric">
                              <button id="add-field-btn" value="{{../id}},{{this.id}}"
                                      class="right mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon"
                                      onclick='createField(this)'>
                                 <i class="material-icons">add_box</i>
                              </button>
                              <button id="delete-compartment-btn" value="{{../id}},{{this.id}}"
                                      class="right mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon"
                                      onclick='deleteCompartment(this)'>
                                 <i class="material-icons">delete</i>
                              </button>
                           </td>
                        </tr>
                        </tfoot>

                        <tbody>
                        {{#each this.Fields}}
                           <tr>
                              <td class="mdl-data-table__cell--non-numeric">{{this.name}}</td>
                              <td class="mdl-data-table__cell--non-numeric">checkable</td>
                              <td class="mdl-data-table__cell--non-numeric">
                                 <button id="delete-field-btn" value="{{../../id}},{{../id}},{{this.id}}"
                                         class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon"
                                         onclick='deleteField(this)'>
                                    <i class="material-icons">delete</i>
                                 </button>
                              </td>
                           </tr>
                        {{/each }}
                        </tbody>


                     </table>

                  {{/each}}
               </div>


               <div class="mdl-card__actions mdl-card--border ">

                  <button id="add-compartment-btn" value="{{this.id}}"
                          class="right mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon"
                          onclick='createCompartment(this)'>
                     <i class="material-icons">add_box</i>
                  </button>

                  <div class="mdl-tooltip" for="add-compartment-btn">
                     Add a compartment to the checklist
                  </div>

                  <button id="delete-btn" value="{{this.id}}"
                          class="right mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon"
                          onclick='deleteChecklist(this)'>
                     <i class="material-icons">delete</i>
                  </button>

                  <div class="mdl-tooltip" for="delete-btn">
                     Delete this checklist
                  </div>

               </div>


            </div>
         {{/each}}

         {{#if this.noChecklists}}
            <h5 class="align-center" id="empty-text">There are no checklists!</h5>
         {{/if}}

      </div>
      <button id="fab-add"
              class="mdl-button mdl-shadow--4dp mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored">
         <i class="material-icons">add</i>
      </button>
      <div class="mdl-tooltip mdl-tooltip--left" for="fab-add">
         Create and add a checklist
      </div>
   </main>

</div>

<!-- create dialogs -->
<dialog class="create-checklist-dialog mdl-dialog">
   <h4 class="mdl-dialog__title">Create Checklist.</h4>
   <div class="mdl-dialog__content">
      <p>
         Please select a title for the checklist
         (ex: Checklist 1: Truck 1)
      </p>

      <form id="form-create-checklist" method="post">

         <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" type="text" name="checklist-title" id="tf-checklist-title">
            <label class="mdl-textfield__label" for="tf-checklist-title">Title</label>
            <span id="tf-checklist-title-error" class="mdl-textfield__error">This cannot be empty!</span>
         </div>

         <p>
            Select an ambulance
         </p>

         {{#each ambulances}}
            <label class="ambulance-option-radio mdl-radio mdl-js-radio mdl-js-ripple-effect"
                   for="ambulance-option-{{id}}">
               <input type="radio" id="ambulance-option-{{id}}" class="mdl-radio__button" name="ambulance-options"
                      value="{{id}}">
               <span class="mdl-radio__label">Truck: {{truckNumber}}</span>
            </label>
            <br>
         {{/each}}


      </form>

   </div>
   <div class="mdl-dialog__actions">
      <button type="button" class="mdl-button create">Create</button>
      <button type="button" class="mdl-button close">Cancel</button>
   </div>
</dialog>
<dialog class="create-compartment-dialog mdl-dialog">
   <h4 class="mdl-dialog__title">Create Compartment.</h4>
   <div class="mdl-dialog__content">
      <p>
         Please describe the compartment
      </p>

      <form id="form-create-compartment" method="post">

         <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" type="text" name="compartment-name" id="tf-compartment-name">
            <label class="mdl-textfield__label" for="tf-compartment-name">Name</label>
            <span id="tf-compartment-name-error" class="mdl-textfield__error">This cannot be empty!</span>
         </div>

      </form>

   </div>
   <div class="mdl-dialog__actions">
      <button type="button" class="mdl-button create">Create</button>
      <button type="button" class="mdl-button close">Cancel</button>
   </div>
</dialog>
<dialog class="create-field-dialog mdl-dialog">
   <h4 class="mdl-dialog__title">Add an item to check.</h4>
   <div class="mdl-dialog__content">
      <p>
         Please describe the item
      </p>

      <form id="form-create-field" method="post">

         <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" type="text" name="field-name" id="tf-field-name">
            <label class="mdl-textfield__label" for="tf-field-name">Name</label>
            <span id="tf-field-name-error" class="mdl-textfield__error">This cannot be empty!</span>
         </div>

      </form>

   </div>
   <div class="mdl-dialog__actions">
      <button type="button" class="mdl-button create">Create</button>
      <button type="button" class="mdl-button close">Cancel</button>
   </div>
</dialog>

<!-- delete dialogs -->
<dialog class="delete-checklist-dialog mdl-dialog">
   <h5 class="mdl-dialog__title">Delete?</h5>
   <div class="mdl-dialog__content">
      <p>
         Are you sure you want to delete this checklist, you cannot undo this action.
      </p>

   </div>
   <div class="mdl-dialog__actions">
      <button type="button" class="mdl-button delete">Delete</button>
      <button type="button" class="mdl-button close">Cancel</button>
   </div>
</dialog>
<dialog class="delete-compartment-dialog mdl-dialog">
   <h5 class="mdl-dialog__title">Delete?</h5>
   <div class="mdl-dialog__content">
      <p>
         Are you sure you want to delete this compartment, you cannot undo this action.
      </p>

   </div>
   <div class="mdl-dialog__actions">
      <button type="button" class="mdl-button delete">Delete</button>
      <button type="button" class="mdl-button close">Cancel</button>
   </div>
</dialog>
<dialog class="delete-field-dialog mdl-dialog">
   <h5 class="mdl-dialog__title">Delete?</h5>
   <div class="mdl-dialog__content">
      <p>
         Are you sure you want to delete this field, you cannot undo this action.
      </p>

   </div>
   <div class="mdl-dialog__actions">
      <button type="button" class="mdl-button delete">Delete</button>
      <button type="button" class="mdl-button close">Cancel</button>
   </div>
</dialog>

<!-- toast that shows info -->
<div id="toast" class="mdl-js-snackbar mdl-snackbar">
   <div class="mdl-snackbar__text"></div>
   <button class="mdl-snackbar__action" type="button"></button>
</div>

</body>

<script src="https://code.getmdl.io/1.2.1/material.min.js"></script>

</html>