<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="utf-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="description" content="Log your rig checks online.">
   <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
   <link rel="stylesheet"
         href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en">
   <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
   <link rel="stylesheet" href="https://code.getmdl.io/1.2.1/material.cyan-light_blue.min.css">
   <link rel="stylesheet" href="/css/styles.css">

   <script src="/vendor/jquery-2.2.3.min.js"></script>
   <script src="/vendor/jquery.form.min.js"></script>
   <script src="/js/views/rigchecks.js"></script>
   <script src="/js/controllers/rigchecksController.js"></script>
</head>

<body>
<div class="main-layout mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">
   <header class="main-header mdl-layout__header mdl-color--grey-100 mdl-color-text--grey-600">
      <div class="mdl-layout__header-row">
         <span class="mdl-layout-title">{{title}}</span>
         <div class="mdl-layout-spacer"></div>
      </div>
   </header>

   <div class="main-drawer mdl-layout__drawer mdl-color--blue-grey-900 mdl-color-text--blue-grey-50">
      <header class="main-drawer-header"><img src="images/user.jpg" class="user-avatar">
         <div class="user-avatar-dropdown"><span>{{user.first}} {{user.last}}
            (<strong>{{user.role}}</strong>)<br>{{user.email}}</span>
            <div class="mdl-layout-spacer"></div>
         </div>
      </header>
      <nav class="main-navigation mdl-navigation mdl-color--blue-grey-800">
         <a href="/home" class="mdl-navigation__link" id="home-nav">
            <i role="presentation" class="mdl-color-text--blue-grey-400 material-icons">home</i>Home</a>
         <a href="/rigchecks" class="mdl-navigation__link" id="rigcheck-nav">
            <i role="presentation" class="mdl-color-text--blue-grey-400 material-icons">assignment_turned_in</i>Rig
            Check</a>
         {{#if user.isSupervisor}}
            <!-- the supervisor is able to add and remove people and -->
            <a href="/checklists" class="mdl-navigation__link" id="checklist-nav">
               <i role="presentation" class="mdl-color-text--blue-grey-400 material-icons">assignment</i>Checklists</a>
            <a href="/squad" class="mdl-navigation__link" id="squad-nav">
               <i role="presentation" class="mdl-color-text--blue-grey-400 material-icons">people</i>Squad</a>
         {{/if}}
         {{#if user.isChief}}
            <!-- only the chief is able to add ambulances -->
            <a href="/checklists" class="mdl-navigation__link" id="checklist-nav">
               <i role="presentation" class="mdl-color-text--blue-grey-400 material-icons">assignment</i>Checklists</a>
            <a href="/ambulances" class="mdl-navigation__link" id="ambulance-nav">
               <i role="presentation" class="mdl-color-text--blue-grey-400 material-icons">local_shipping</i>Ambulances</a>
            <a href="/squad" class="mdl-navigation__link" id="squad-nav">
               <i role="presentation" class="mdl-color-text--blue-grey-400 material-icons">people</i>Squad</a>
         {{/if}}
         <a href="/profile" class="mdl-navigation__link" id="profile-nav">
            <i role="presentation" class="mdl-color-text--blue-grey-400 material-icons">account_circle</i>Profile</a>
         <div class="mdl-layout-spacer"></div>
         <a href="/help" class="mdl-navigation__link" id="help-nav">
            <i role="presentation" class="mdl-color-text--blue-grey-400 material-icons">help_outline</i><span
                 class="visuallyhidden">Help</span></a>
      </nav>

   </div>
   <div class="mdl-tooltip mdl-tooltip--right" data-mdl-for="home-nav">See the dashboard</div>
   <div class="mdl-tooltip mdl-tooltip--right" data-mdl-for="rigcheck-nav">Make a rig check</div>
   <div class="mdl-tooltip mdl-tooltip--right" data-mdl-for="checklist-nav">Add or Edit a rig check checklist</div>
   <div class="mdl-tooltip mdl-tooltip--right" data-mdl-for="ambulance-nav">Add or Edit Ambulances</div>
   <div class="mdl-tooltip mdl-tooltip--right" data-mdl-for="squad-nav">Add, Remove, or Edit the squad and it's
      members
   </div>
   <div class="mdl-tooltip mdl-tooltip--right" data-mdl-for="profile-nav">Edit your profile</div>
   <div class="mdl-tooltip mdl-tooltip--right" data-mdl-for="help-nav">It's okay to be confused</div>

   <main class="mdl-layout__content mdl-color--grey-100">
      <div class="mdl-grid main-content">
         <!-- TODO this is the main content -->

         {{#each rigchecks}}
            <div id="rigcheck-{{this.id}}"
                 class="rigcheck-card mdl-shadow--2dp mdl-color--white mdl-cell mdl-card mdl-cell--4-col">
               <div class="mdl-card__title mdl-card--expand mdl-color--red-300">
                  <h5>Checklist: {{this.Checklist.title}} <br>
                     Ambulance: {{this.Checklist.Ambulance.truckNumber}} {{this.Checklist.Ambulance.licensePlate}}
                  </h5>
               </div>

               <div class="mdl-card__supporting-text mdl-color-text--grey-600">
                  Completed: {{this.createdAt}} <br>
                  Comment: {{this.comment}}
               </div>

               <div class="mdl-card__actions mdl-card--border ">
                  <!-- TODO replace this button to look like  -->
                  <a role="button" href="/rigchecks/{{this.id}}"
                     class="right mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect ">More
                  </a>

               </div>
            </div>


         {{/each}}

         {{#if noChecks}}
            <h5 class="align-center" id="empty-text">You have not done a rig check yet!</h5>
         {{/if}}

         <button id="fab-add"
                 class="mdl-button mdl-shadow--4dp mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored">
            <i class="material-icons">add</i>
         </button>

         <div class="mdl-tooltip mdl-tooltip--left" for="fab-add">
            Log a Rigcheck
         </div>
      </div>
   </main>
</div>

<!-- dialog to select a checklist -->
<dialog class="select-checklist-dialog mdl-dialog mdl-cell--hide-phone">
   <h4 class="mdl-dialog__title">Select checklist.</h4>
   <div class="mdl-dialog__content">
      <p>
         Please select a checklist to fill out
      </p>

      <form id="form-select-checklist" method="post">

         {{#each checklists}}
            <label class="ambulance-option-radio mdl-radio mdl-js-radio mdl-js-ripple-effect"
                   for="checklist-option-{{this.id}}">
               <input type="radio" id="checklist-option-{{this.id}}" class="mdl-radio__button" name="checklist-options"
                      value="{{this.id}}">
               <span class="mdl-radio__label">
                  Checklist: {{this.title}} <br>
                  Ambulance: {{this.Ambulance.truckNumber}} - {{this.Ambulance.licensePlate}}
               </span>
            </label>
            <br>
         {{/each}}


      </form>

   </div>
   <div class="mdl-dialog__actions">
      <button type="button" class="mdl-button okay">Okay</button>
      <button type="button" class="mdl-button close">Cancel</button>
   </div>
</dialog>

<!-- toast that shows info -->
<div id="toast" class="mdl-js-snackbar mdl-snackbar">
   <div class="mdl-snackbar__text"></div>
   <button class="mdl-snackbar__action" type="button"></button>
</div>

</body>

<script src="https://code.getmdl.io/1.2.1/material.min.js"></script>

</html>