<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="utf-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="description" content="Log your rig checks online.">
   <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
   <link rel="stylesheet"
         href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en">
   <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
   <link rel="stylesheet" href="https://code.getmdl.io/1.2.1/material.cyan-light_blue.min.css">

   <!-- Add to homescreen for Safari on iOS -->
   <meta name="apple-mobile-web-app-capable" content="yes">
   <meta name="apple-mobile-web-app-status-bar-style" content="black">

   <script src="/vendor/jquery-2.2.3.min.js"></script>
   <script src="/vendor/jquery.form.min.js"></script>
   <script src="/js/controllers/newRigcheckController.js"></script>

   <link rel="stylesheet" href="/vendor/grid12.css">

   <link rel="stylesheet" href="/css/styles.css">

   <style>
      .mdl-layout__header .mdl-layout__drawer-button {
         color: rgba(0, 0, 0, 0.54);
      }

   </style>

</head>

<body>
<div class="main-layout mdl-layout mdl-js-layout mdl-layout--fixed-header">
   <header class="main-header mdl-layout__header mdl-color--grey-100 mdl-color-text--grey-600">
      <div class="mdl-layout__header-row">
         <a class="mdl-layout__drawer-button mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon"
            href="/rigchecks" title="go back" role="button">
            <i class="material-icons" role="presentation">arrow_back</i>
         </a>

         <span class="mdl-layout-title">{{title}}</span>
         <div class="mdl-layout-spacer"></div>
      </div>
   </header>


   <main class="mdl-layout__content mdl-color--grey-100">
      <div class="mdl-grid main-content">
         <!-- TODO this is the main content -->

         <div id="checklist-{{checklist.id}}"
              class="checklist-card mdl-shadow--2dp mdl-color--white mdl-cell mdl-card mdl-cell--12-col">

            <div class="mdl-card__title mdl-card--expand mdl-color--blue-300">
               <h4>Checklist: {{checklist.title}}<br>
                  Ambulance: {{checklist.Ambulance.truckNumber}}</h4>
            </div>

            <div class="mdl-card__supporting-text mdl-color-text--grey-600">
               <div class="row">
                  {{#each checklist.Compartments}}
                     <div class="col-sm-4">
                        <h5>Compartment: {{this.name}} </h5>

                        <table class="table mdl-data-table mdl-js-data-table mdl-shadow--2dp">

                           <thead>
                           <tr>
                              <th class="mdl-data-table__cell--non-numeric">Item Name</th>
                              <th class="mdl-data-table__cell--non-numeric"></th>
                           </tr>
                           </thead>

                           <tbody>
                           {{#each this.Fields}}
                              <tr>
                                 <td class="mdl-data-table__cell--non-numeric">{{this.name}}</td>
                                 <td class="mdl-data-table__cell--non-numeric">
                                    <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect"
                                           for="checkbox-{{this.id}}">
                                       <input type="checkbox" value="{{../../checklist.id}},{{../id}},{{this.id}}"
                                              id="checkbox-{{this.id}}" class="mdl-checkbox__input">
                                    </label>
                                 </td>
                              </tr>
                           {{/each }}
                           </tbody>


                        </table>

                     </div>
                  {{/each}}

               </div>

               <form style="box-sizing:border-box;  width: 100%;">
                  <div class="mdl-textfield mdl-js-textfield">
                     <textarea style="box-sizing:border-box;  width: 100%;" class="mdl-textfield__input" type="text"
                               rows="3" id="rig-check-comment"></textarea>
                     <label class="mdl-textfield__label" for="rig-check-comment">Comments about the check</label>
                  </div>
               </form>
            </div>


            <div class="mdl-card__actions mdl-card--border ">
               <a role="button" id="save-btn"
                  class="right mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">Save
               </a>

               <a role="button" style="margin-right: 20px"
                  class="right mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" href="/rigchecks">Cancel
               </a>
            </div>


         </div>

      </div>
   </main>
</div>

<!-- toast that shows info -->
<div id="toast" class="mdl-js-snackbar mdl-snackbar">
   <div class="mdl-snackbar__text"></div>
   <button class="mdl-snackbar__action" type="button"></button>
</div>

</body>

<script src="https://code.getmdl.io/1.2.1/material.min.js"></script>

</html>